@media (max-width: 780px) {


    .game2__inner {
        aspect-ratio: 370 / 654;
    }


    .game2__left {
        left: 0;
        top: 0;
        width: 97.30%;
        height: 41.74%;
        background-color: rgba(255, 109, 172, 0.16);
        border: 0.83vw solid var(--pink);
        border-radius: 3.48vw;
        padding: 0;
    }


    .game2__hint-text {
        position: absolute;
        left: 21.39%;
        top: 4.40%;
        width: 53.89%;
        font-size: 2.80vw;
        color: var(--white);
        text-align: center;
    }


    .game2__right {
        display: block;
        left: 0%;
        top: 45.21%;
        width: 97.57%;
        height: 54.89%;
        border: 0.89vw solid var(--pink);
        border-radius: 3.48vw;
        background: transparent;
    }


    .game2__bg {
        top: 45.21%;
        left: -7%;
        width: 97.57%;
        height: 54.89%;
    }

    .game2__receiver {
        width: 7.36%;
    }

    .game2__receiver--pink {
        left: 21.2%;
        top: 56.4%;
    }

    .game2__receiver--yellow {
        left: 21.2%;
        top: 74.5%;
    }

    .game2__receiver--pinkdot {
        left: 20.1%;
        top: 91.3%;
    }


    .game2__capsule {
        width: 2.5%;
        height: 2.2%;
        border-radius: 999px;
    }


    .game2__success {
        left: 49.32%;
        top: 22.15%;
        font-size: 15.24vw;
    }


    .game2__restart {
        left: 82.70%;
        right: auto;
        top: 1.88%;
        width: 7%;
    }

    .game2__arrow--desktop { display: none; }
    .game2__arrow--mobile  { display: block; }

}
